<% provide(:title, "Sign in") %>
<div class="jonestitle"> <h1>Sign in</h1> </div>
<div class="container">
<div class="row">
	<div class="col-xs-2 col-sm-offset-5">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

		<div class="jonestopspacer">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
		<div class="jonestopspacer">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    </div>
		<div class="jonestopspacer">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
</div>
