<li> 
<h2><%= link_to_unless_current blog.title, blog %></h2>
	<%=image_tag(image_path('person.jpg'), alt: "metamojo", class: "bloglogo")%>
	<%=blog.author%>
  <div class="timestamp">
		<%= blog.created_at.strftime("Posted on  %A, %B #{blog.created_at.day.ordinalize}  %Y.") %>
  </div>	
	<div class="blogbody">
 <%=simple_format blog.body %>
	</div>
</li>
