<% provide(:title, "Edit post") %>
<h1>Update this post</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@blog) do |f| %>
      <%= render 'shared/blog_error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :author %>
      <%= f.text_field :author %>

      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
