<% provide(:title, 'All Posts') %>
 <h1>All posts</h1>
 <%= link_to 'New Post', new_blog_path %>
<%= will_paginate %>
<ul class="users">
 <%= render @blogs %>

 <%= link_to 'New Post', new_blog_path %>
</ul>
<%= will_paginate %>	
