<% provide(:title, 'New Blog') %>
<div class="jonestitle"> <h1>New Blog</h1> </div>
<div class="container">
<div class="row">
	<div class="col-xs-2 col-sm-offset-5">
    <%= form_for(@blog) do |f| %>
      <%= render 'shared/blog_error_messages' %>
      <%= f.label :title %>
      <%= f.text_field :title %>

		<div class="jonestopspacer">
      <%= f.label :author %>
      <%= f.text_field :author %>
  	</div>
		<div class="jonestopspacer">
      <%= f.label :body %>
  		<div class="field">
      	<%= f.text_area :body, placeholder: "Compose new post..." %>
 		 </div>
  	</div>
		<div class="jonestopspacer">
      <%= f.submit "Submit Blog", class: "btn btn-large btn-primary" %>
    <% end %>
  	</div>
  </div>
</div>
</div>
