<% provide(:title, 'New Blog') %>
<div class="jonestitle"> <h1>New Blog</h1> </div>
<div class="container">
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 ">
    <%= form_for(@blog) do |f| %>
      <%= render 'shared/blog_error_messages' %>
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control input-md" %>

		<div class="jonestopspacer">
      <%= f.label :author %>
      <%= f.text_field :author, class:"form-control input-md" %>
  	</div>
		<div class="jonestopspacer">
      <%= f.label :body %>
  		<div class="field">
      	<%= f.text_area :body, placeholder: "Compose new post...",  class:"form-control input-md"%>
 		 </div>
  	</div>
		<div class="jonestopspacer">
      <%= f.submit "Submit Blog", class: "btn btn-lg btn-primary" %>
    <% end %>
  	</div>
  </div>
</div>
</div>
