
<% provide(:title, 'Sign up') %>
<div class="jonestitle"> <h1>Sign up</h1> </div>
<div class="container">


<div class="row">
	<div class="col-xs-2 col-sm-offset-5">

    <%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages' %>

      <%= f.label :name %>
		  <%= f.text_field :name %>
		<div class="jonestopspacer">
      <%= f.label :email %>
      <%= f.text_field :email %>
		</div>
		<div class="jonestopspacer">
      <%= f.label :password %>
      <%= f.password_field :password %>
		</div>
		<div class="jonestopspacer">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
		</div>

			<div class="jonestopspacer">
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			</div>
    <% end %>
	</div>
</div>
</div>
