
<% provide(:title, @user.name) %>
<div class="container">
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </div>
  <div class="aside">
    <% if @user.listings.any? %>
      <h3>Your Listings (<%= @user.listings.count %>)</h3>
      <ol class="listings">
        <%= render @listings %>
      </ol>
      <%= will_paginate @listings %>
    <% end %>
  </div>
</div>
</div>
