<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
   	 <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

  </head>
  <body>
    <%= render 'layouts/menu' %> 			

			<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
     		 <%= yield %>

      <%= render 'layouts/footer2' %>
      <%= debug(params) if Rails.env.development? %>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
